In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
score_df=pd.DataFrame([[1,56,66,70],[2,90,45,34],[3,45,32,55],[4,70,77,89],[5,56,80,70],
                       [6,60,54,55],[7,45,70,79],[8,34,77,76],[9,25,87,60],[10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])

In [14]:
score_df

   student_id  math_score  english_score  chinese_score
0           1          56             66             70
1           2          90             45             34
2           3          45             32             55
3           4          70             77             89
4           5          56             80             70
5           6          60             54             55
6           7          45             70             79
7           8          34             77             76
8           9          25             87             60
9          10          88             40             43

In [10]:
score_df.mean(axis=1)
#Pandas 統計函式中有參數 axis=0 為行運算，axis=1 為列運算

0    48.25
1    42.75
2    33.75
3    60.00
4    52.75
5    43.75
6    50.25
7    48.75
8    45.25
9    45.25
dtype: float64

In [15]:
score_df.quantile(0.5).mean()

48.625

In [16]:
#一般可按三級劃分：|r|<0.4 為低度線性相關；0.4≤|r|<0.7 為顯著性相關；0.7≤|r|<1為高度線性相關。

In [18]:
score_add=score_df.apply(lambda x: x**(0.5)*10)

In [19]:
score_add.mean()

student_id       22.468278
math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64