In [1]:
import numpy as np

In [2]:
import pandas as pd

In [27]:
score_df=pd.DataFrame([[1,56,66,70],[2,90,45,34],[3,45,32,55],[4,70,77,89],[5,56,80,70],
                       [6,60,54,55],[7,45,70,79],[8,34,77,76],[9,25,87,60],[10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])

In [28]:
score_df=score_df.set_index('student_id')

In [29]:
score_df

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

In [32]:
score_mean=score_df.mean(axis=1)
#Pandas 統計函式中有參數 axis=0 為行運算，axis=1 為列運算

In [33]:
score_mean[6]

56.333333333333336

In [36]:
score_df.values[5].mean()

56.333333333333336

In [30]:
score_df.quantile(0.5)

math_score       56.0
english_score    68.0
chinese_score    65.0
Name: 0.5, dtype: float64

In [16]:
#一般可按三級劃分：|r|<0.4 為低度線性相關；0.4≤|r|<0.7 為顯著性相關；0.7≤|r|<1為高度線性相關。

In [18]:
score_add=score_df.apply(lambda x: x**(0.5)*10)

In [39]:
score_add.mean(axis=1).loc[6]

66.52187481555076